.hero {
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 70px);
  align-items: center;
  flex-wrap: wrap;
}

.hero .heroHeader {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 0;

  span {
    font-family: rubik;
    font-size: 35px;
    font-weight: 600;
  }

  h1 {
    font-size: 60px;
    border-right: 0.15em solid #f9fafb;
    font-family: rubik;
    animation: typing 6s steps(30, end) infinite,
      blinkCaret 0.75s step-end infinite;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    -webkit-animation: typing 6s steps(30, end) infinite,
      blinkCaret 0.75s step-end infinite;
  }
}

.hero .heroContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;

  p {
    font-size: 18px;
    width: 500px;
    text-align: justify;
    margin-bottom: 5px;
  }
}

.hero .heroFooter {
  display: flex;
  gap: 10px;
}

.heroBg {
  background: #374151;
  width: 280px;
  height: 320px;
  position: relative;

  img {
    top: -40px;
    right: 40px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  15% {
    width: 0;
  }
  40% {
    width: 100%;
  }
  60% {
    width: 100%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blinkCaret {
  0% {
    border-color: #f9fafb;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #f9fafb;
  }
}
@media (max-width: 639px) {
  .hero {
    height: max-content;
    padding: 20px 0;
    gap: 30px;
  }

  .hero .heroHeader {
    flex-direction: column;
    align-items: flex-start;

    span {
      font-size: 25px;
    }

    h1 {
      white-space: nowrap;
      animation: blinkCaret 0.75s step-end infinite,
        typing 6s steps(30, end) infinite;
      font-size: 30px;
      width: 100%;
    }
  }

  .hero .heroContent {
    width: 100%;
    height: max-content;
    padding: 20px 0;
    gap: 30px;

    p {
      width: 100%;
    }
  }

  .heroBg {
    img {
      position: static;
      width: 90%;
      height: 90%;
    }
  }
}
@media (min-width: 640px) and (max-width: 1023px) {
  .hero {
    height: max-content;
    padding: 20px 0;
    gap: 30px;
  }

  .hero .heroHeader {
    span {
      font-size: 28px;
    }

    h1 {
      font-size: 45px;
    }
  }

  .hero .heroContent {
    width: 80%;
    height: max-content;
    padding: 20px 0;
    gap: 30px;

    p {
      width: 100%;
    }
  }

  .heroBg {
    img {
      position: static;
      width: 90%;
      height: 90%;
    }
  }
}
