#experience {
  background-color: #111827;
}

.experience {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  > p {
    font-size: 18px;
    color: #d1d5db;
  }

  h2 {
    margin: 0;
  }
}

.myExperience {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  background-color: #1f2937;
  width: 896px;
  box-shadow: 0 25px 25px 0 #00000049;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  img {
    width: 102px;
    height: 48px;
    object-fit: contain;
  }
  p {
    font-size: 20px;
    font-weight: 600;
    font-family: rubik;
    margin-bottom: 10px;
    word-spacing: 2px;
  }
  ul {
    width: 384px;

    li {
      color: #d1d5db;
    }
  }
}

@media (max-width: 1023px) {
  .myExperience {
    width: 100%;
    flex-direction: column;

    img {
      margin-bottom: 10px;
    }

    ul {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
